<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Price Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function showLoading(button) {
            button.value = "Predicting...";
            button.disabled = true;
            document.getElementById('spinner').style.display = "block";
            return true;
        }
    </script>
</head>
<body>
    <header>
        <h1>Stock Price Prediction</h1>
    </header>
    <div class="container">
        <br>
        <h2>Predict a Company historical stock price?</h2>
        <form action="/predict" method="post" onsubmit="return showLoading(this.querySelector('input[type=submit]'));">
            <label for="company">Select Company:</label>
            <select name="company" id="company">
                <option value="microsoft">Microsoft</option>
                <option value="amazon">Amazon</option>
                <option value="google">Google</option>
                <option value="tesla">Tesla</option>
                <option value="apple">Apple</option>
                <option value="lgtelevision">LG Television</option>
                <option value="netflix">Netflix</option>
            </select>

            <label for="date">Select Date:</label>
            <input type="date" id="date" name="date">

            <input type="submit" value="Predict Stock Price">
            <div id="spinner" class="spinner"></div>
        </form>

        <br><br>

        <h2>Want to predict a specific/future stock price?</h2>
        <p>Enter Custom Open Price and Date:</p>
        <form action="/predict_custom" method="post" onsubmit="return showLoading(this.querySelector('input[type=submit]'));">
            <label for="company_custom">Select Company:</label>
            <select name="company_custom" id="company_custom">                
                <option value="microsoft">Microsoft</option>
                <option value="amazon">Amazon</option>                
                <option value="google">Google</option>
                <option value="tesla">Tesla</option>
                <option value="apple">Apple</option>
                <option value="lgtelevision">LG Television</option>
                <option value="netflix">Netflix</option>
            </select>

            <label for="open_price">Enter Open Price:</label>
            <input type="number" step="0.01" id="open_price" name="open_price">

            <label for="custom_date">Select Date:</label>
            <input type="date" id="custom_date" name="custom_date">

            <input type="submit" value="Predict Stock Price">
            <div id="spinner" class="spinner"></div>
        </form>
    </div>
</body>
</html>
